.Button{
    display: flex;
    width: 100px;
    background: aqua;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 20px;
    transform: translate(0px, -75px);

}
.Count{
    transform: translate(150px, 0px);
    font-size: 20px;
}